html,
body,
.container {
  height: 100%;
  text-align: center;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.title {
  font-size: 30px;
  color: #616161;
  font-style: italic;
  font-weight: 800;
}

.timeline .swiper-container {
  height: 600px;
  width: 100%;
  position: relative;
}

.timeline .swiper-slide {
  position: relative;
  color: #fff;
  background-size: cover;
  box-shadow: -230px 0 150px 60vw rgba(0, 0, 0, 0.5);
}

.timeline .swiper-slide-content {
  position: absolute;
  right: 40%;
  top: 30%;
  font-size: 12px;
  width: 310px;
  text-align: center;
  z-index: 1;
}

.timeline .swiper-slide .timeline-year {
  color: #e7a20e;
  margin-bottom: 0;
  font-size: 32px;
}
.timeline .swiper-slide .timeline-title {
  font-size: 46px;
  margin: 0;
}
.timeline .swiper-slide .timeline-text {
  font-size: 15px;
  font-family: "system-ui";
}

.timeline .swiper-pagination {
  right: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  z-index: 1;
  
}

.timeline .swiper-pagination::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.timeline .swiper-pagination-bullet {
  width: auto;
  height: auto;
  text-align: center;
  opacity: 1;
  background: transparent;
  color: #d4a024;
  margin: 15px 0 !important;
  position: relative;
}
.timeline .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -32.5px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #d4a024;
  transform: scale(0);
  transition: 0.2s;
}

.timeline .swiper-pagination-bullet-active {
  color: #d4a024;
}
.timeline .swiper-pagination-bullet-active::before {
  transform: scale(1);
}

.timeline .swiper-button-next,
.timeline .swiper-button-prev {
  background-size: 20px 20px;
  top: 15%;
  width: 20px;
  height: 20px;
  margin-top: 0;
  z-index: 2;
  transition: 0.2s;
}

.timeline .swiper-button-prev {
    top: 15%;
    left: auto;
    right: 15%;
    transform: rotate(90deg) translate(0, 10px);
    background-color:#d4a024;

  }
.timeline .swiper-button-prev:hover {
    transform: rotate(90deg) translate(-3px, 10px);
  }

.timeline .swiper-button-next {
    top: auto;
    bottom: 15%;
    right: 15%;
    transform: rotate(90deg) translate(0, 10px);
    background-color:#d4a024;
  }
.timeline .swiper-button-next:hover {
    transform: rotate(90deg) translate(3px, 10px);
  }
